{% set blogid = module.blog %}
{% set tag = module.tag_field %}

{% if module.filter_tag %}
{% set topic_posts = blog_recent_tag_posts(blogid, tag, 3) %}
{% else %}
{% set topic_posts = blog_recent_posts(blogid, 3) %}
{% endif %}
<div id="blog__top" data-sal="slide-right" data-sal-duration="650" style="padding-top: {{ module.section_settings.padding_top }}px; padding-bottom: {{ module.section_settings.padding_bottom }}px">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content__title">
          <h4 class="blog__bottom__subtitle" data-sal="slide-right" data-sal-duration="650">{{module.subtitle}}</h4>
          <h2 class="blog__bottom__title" data-sal="slide-right" data-sal-duration="650">{{module.title}} <span class="rose">{{ module.title_rose }}</span></h2>
        </div>
      </div>
    </div>
    <div class="columns is-centered is-gapless">
      <div class="content__recent__stats">
        {% for post in topic_posts %}
        <div class="post__recent">
          <div class="featured__image">
            <a href="{{ post.absolute_url }}">
              <div class="block__image__featured" style="background-image: url('{{ post.featured_image }}');"></div>
            </a>
          </div>
          <div class="content__post">
            <h5 class="blog__top__text-title">
              <a href="{{ post.absolute_url }}">
                {{ post.name }}
              </a>
            </h5>
            <div class="date">
              {{ post.publish_date_local_time.strftime('%B') }}
              {{ post.publish_date_local_time.strftime('%d') }} -
              {{ post.publish_date_local_time.strftime('%Y') }}
            </div>       
            <div class="blog__bottom__element__text">{{ post.post_list_content|truncatehtml(120, '...' , false)|striptags }}</div>
          </div>
        </div>
        {% endfor %}

      </div>

    </div>  
  </div>
</div>

<style>
#blog__top{
  background: #231C68;
}
.blog {
  position: relative;
}
.featured__image img{
  width: 100%;
}
.blog__top {
  padding: 40px 0 100px;
}
.blog__bottom__title {
  font-family: 'Exo', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  max-width: 450px;
  margin: 0 auto;
}
.rose{
  color: #B01F58;
}
.blog__bottom__subtitle {
  font-family: 'Exo', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.25em;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.blog__top__title {
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  color: #003952;
  margin: 0;
  margin-bottom: 2rem;
  text-decoration: none;
}
.content__title{
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}
.blog__top__subtitle {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .12em;
  color: #50576d;
}
.post__recent{
  background: #fff;
}
.content__post{
  padding: 20px;
}
.content__recent__stats{
  display: flex;
}
.blog__top__text-title a {
  text-decoration: none;
  color: #50576d;
  font-weight: 600;
  font-size: 20px;
}
.blog__top__text-title a:hover {
  color: #50B87F;
}
.blog__top__text a {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: .03em;
  color: #152c4e;
  text-decoration: none;
}
.blog__top__text a:hover {
  color: #003952;
}
.blog__top__link {
  text-align: right;
  margin-top: 30px;
}
.blog__top__link a {
  background: #218CCB;
  border: 1px solid #218CCB;
  border-radius: 4px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}
.blog__top__link a:hover {
  background: transparent;
  border: 1px solid #218CCB;
  color: #218CCB;
}
.blog__top__left {
}
.blog__top__right img {
  width: 100%;
}
.blog__bottom {
  padding: 100px 0 100px;
  background-color: #EBF7FE;
}
.blog__bottom__element {
  background: #EBF7FE;
  cursor: pointer;
  border: 1px solid #EEF0F5;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease;
}
.blog__bottom__element:hover {
  transform: translateY(-3px);
}
.blog__bottom__element__content {
  padding: 1rem 2rem;
}
.blog__bottom__element__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #003952;
}
.blog__bottom__element__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: #AFAFAF;
  margin-bottom: 2rem;
}
.blog__bottom__element__link {
  text-align: right;
}
.blog__bottom__element__link span {
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 1;
  text-align: right;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  color: #00B4C4;
  transition: all 0.3s;
}
.blog__bottom__element__link span:hover {
  color: #003952;
}
.blog__bottom__element__img {
  min-height: 225px;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.blog__elements {
  margin: 4rem 0;
}
.block__image__featured{
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}
.post__recent{
  width: 30%;
  margin: 1%;
}
.post__recent:hover{
  transform: translateY(-4px);
}

@media only screen and (max-width: 768px) {
  .blog__top__title {
    max-width: initial;
  }
  .blog__top__link {
    text-align: center;
    margin: 2rem 0;
  }
  .blog__top__left {
    text-align: center;
  }
  .blog__top__right {
    margin: 2rem 0;
    margin-bottom: -100px;
  }
  .blog__top__right img {
    position: relative;
  }
  .blog__bottom {
    padding: 25px 0;
  }
  .blog__bottom__title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .blog__bottom__subtitle {
    text-align: center;
  }
  .post__recent{
    width: 100%;
    display: block;
    margin-bottom: 40px;
  }
}

</style>

<script>
<!--JS DEL MODULO-->
<script>
$(function(){

// init matchHeight
$('.hub-post').matchHeight(); 

});
</script>
